extends layout
block content
  h1= title
  - let id = toShow._id
  - let whistle_ID = toShow.WhistleId
  - let whistleprice = toShow.Whistle_Price
  - let whistlestyle = toShow.Whistle_Style
  div
    div.row
      div(class='whistleAttr mr-3')  ID is:
      div #{id}
    div.row
      div(class='whistleAttr mr-3') whistle_ID is:
      div #{whistle_ID}
    div.row
      div(class='whistleAttr mr-3') whistle Price is:
      div #{whistleprice}
    div.row
      div(class='whistleAttr mr-3') whistle Style is:
      div #{whistlestyle}
