extends layout

block content
  
  h1= title
  - let results=whistlelist
  div(class="container-fluid")
  div(class="row m-1")
    each value,index in results
      - let destination = `dispatch(\"/whistle/update?id=${value._id}\")`
      div(class="col-sm-2 m-1" onclick=`buy(${index})`)  Whistle ID:#{value.WhistleId} , price : #{value.Whistle_Price}, Style: #{value.Whistle_Style}<br>
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function buy(index)
    {
      alert(`Your purchased Item ${index}`)
    }