extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let id = toShow._id
    - let WhistleId = toShow.WhistleId
    - let Whistle_Price = toShow.Whistle_Price
    - let Whistle_Style = toShow.Whistle_Style
    - let actionid = "/resource/whistle/" + id
    script let actionid = "#{actionid}"
    .container.mt-4
      .row
        .col-md-6
          p#id-label ID:
          p#id-content #{id}

        .col-md-6
          p#whistleId-label Whistle ID:
          p#whistleId-content #{WhistleId}

      .row
        .col-md-6
          p#price-label Price:
          p#price-content #{Whistle_Price}

        .col-md-6
          p#style-label Style:
          p#style-content #{Whistle_Style}

      .row.mt-3
        .col
          button.btn.btn-danger.mr-2(onclick="deleteOnid()") Delete
          button.btn.btn-secondary(onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the whistle collection
      //window.location.href='/whistle'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
      method: 'DELETE' // Don't need a body for the delete
      }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
      alert("Delete succeded")
      //window.location.href='/whistle'
      // TODO handle body
      }).catch((error) => {
      // TODO handle error
      console.log(error);
      alert("Delete failed " + error )
      });
    }